<p-toast position="bottom-right" [showTransformOptions]="'translateX(100%)'"></p-toast>
<p style="background: #84b4f1;color: black;">Service Detail</p>
<form [formGroup]="form" class="form-container">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="subcity">Sub City</label>
            <!-- <select formControlName="subCity" class="form-control" id="subcity" (change)="passSubcityData($event.target.value)">
              <option *ngFor="let subcity of subCity" [value]="subcity.organization_code">{{ subcity.name_local}}</option>
            </select> -->
            <select
                  class="form-control"
                  name="subCity"
                  id="subCity"
                  #subselecter
                  formControlName="sdpid"
                  (change)="passdata(subselecter.value)"
                  >

                  <ng-container *ngFor="let subcity of subCity">
                    <option [value]="subcity.organization_code">
                      {{ subcity.name_local }}
                    </option>
                  </ng-container>
                </select>
          </div>
        </div>
  </div>
<p-table [value]="serd1" [paginator]="true" [rows]="5" class="custom-table">
    
    <ng-template pTemplate="header">
        <tr>
          <th >
            Service Name
          </th>
          <th >
            Num Service Per day
          </th>
            <th>
              <button type="button" class="btn btn-primary" (click)="openAddForm();displayBasic=true">
                <i class="pi pi-plus"></i> Add New
            </button>
           </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr [pSelectableRow]="rowData">
          <td >
            {{rowData.service_Name}}
         </td>
         <td >
           {{rowData.num_Service_Per_day}}
         </td>
            <td>
                <button type="button" class="btn btn-primary edit-button"  (click)="openEditForm(rowData);displayBasic=true">
                    <i class="pi pi-pencil"></i>
                </button>
                <button type="button" class="btn btn-danger delete-button" (click)="servicedetaildelete(rowData)">
                    <i class="pi pi-trash"></i> 
                </button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="List Of Users" [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000" position="top"> 
     <form [formGroup]="form">

      <div class="form-group">
        <label for="planid">Plan ID</label>
        <select formControlName="plan_ID" class="form-control" id="planid">
          <option *ngFor="let planid of annualplan" [value]="planid.planID">{{ planid.service_Name}}</option>
        </select>
      </div>
   
      <label for="recipient-name" class="col-form-label">num_Service_Per_day</label>
      <input type="text" class="form-control" placeholder="num_Service_Per_day" formControlName="num_Service_Per_day" id="recipient-name">
  
  </form>

<p-footer>
  <button type="button"  (click)="displayBasic=false"  class="btn btn-danger">close</button>
  <button type="button" class="btn btn-secondary" (click)="button === 'Update' ? update() : onFormSubmit(); displayBasic = false;">{{ button }}</button>
</p-footer>
</p-dialog>

    

