<p-toast position="bottom-right" [showTransformOptions]="'translateX(100%)'"></p-toast>
<p style="background: #84b4f1;color: black;">Service Fee</p>

<p-table [value]="servicefee" [paginator]="true" [rows]="5" class="custom-table">
    
    <ng-template pTemplate="header">
        <tr>
          <th >
            Service Name
          </th>
          <th >
            Service Fee
          </th>
          <th>
            Assurance
          </th>
          <th>
            Tember
          </th>
            <th>
              <button type="button" class="btn btn-primary" (click)="openAddForm();displayBasic=true">
                <i class="pi pi-plus"></i> Add New
            </button>
           </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr [pSelectableRow]="rowData">
          <td >
            {{rowData.description_en}}
          </td>
          <td >
            {{rowData.service_Fee}}
          </td>
          <td >
            {{rowData.assurance}}
          </td>
          <td >
            {{rowData.tember}}
          </td>
            <td>
                <button type="button" class="btn btn-primary edit-button"  (click)="openEditForm(rowData);displayBasic=true">
                    <i class="pi pi-pencil"></i>
                </button>
                <button type="button" class="btn btn-danger delete-button" (click)="servicefeedelete(rowData.service_ID)">
                    <i class="pi pi-trash"></i> 
                </button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="List Of Users" [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000" position="top"> 
     <form [formGroup]="form">
      
      <div class="mb-3">
        <label for="serviceide">Service ID</label>
        <select formControlName="service_ID" class="form-control" id="serviceide">
          <option *ngFor="let service of service_ID" [value]="service.service_code">{{ service.description_en }}</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="recipient-name" class="col-form-label">Service Fee</label>
        <input type="text" class="form-control" placeholder="Service Fee" formControlName="service_fee1" id="recipient-name">
      </div>
      <div class="mb-3">
        <label for="recipient-name" class="col-form-label">Assurance</label>
        <input type="text" class="form-control" placeholder="Assurance" formControlName="assurance" id="recipient-name">
      </div>
      <div class="mb-3">
        <label for="recipient-name" class="col-form-label">Tember</label>
        <input type="text" class="form-control" placeholder="Tember" formControlName="tember" id="recipient-name">
      </div>
  </form>

<p-footer>
  <button type="button"  (click)="displayBasic=false"  class="btn btn-danger">close</button>
  <button type="button"  class="btn btn-secondary" (click)="displayBasic=false; onFormSubmit();" > {{button}}</button>
</p-footer>
</p-dialog>

    

    
