<div class="d-flex align-items-start">
  <div class="card" style="width: 30rem; margin: 25px; ">
    <p-toolbar [style]="{ background: 'var(--primary-color)', color: 'var(--primary-contrast-color)' }">
      <h2 style="color:white;text-align: center;">Lookup Tables</h2>
      <hr>
    </p-toolbar>
    <div class="card-header">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button type="button" class="btn btn-primary m-2" (click)="showDisplay('customerStatus')">Customer Status</button>
        <button type="button" class="btn btn-primary m-2" (click)="showDisplay('customerType')">Customer Type</button>
        <button type="button" class="btn btn-primary m-2" (click)="showDisplay('titleDeedTransfer')">Title Deed Transfer</button>
        <button type="button" class="btn btn-primary m-2" (click)="showDisplay('familyRelationshipType')">Family Relationship Type</button>
        <button type="button" class="btn btn-primary m-2" (click)="showDisplay('leaseOwnedStatus')">Lease Owned Status</button>
        <button type="button" class="btn btn-primary m-2" (click)="showDisplay('leaseType')">Lease Type</button>
        <button type="button" class="btn btn-primary m-2" (click)="showDisplay('measurementFee')">Measurement Fee</button>
        <button type="button" class="btn btn-primary m-2" (click)="showDisplay('plotTypeofUse')">Plot Type of Use</button>
        <button type="button" class="btn btn-primary m-2" (click)="showDisplay('plotStatus')">Plot Status</button>
        <button type="button" class="btn btn-primary m-2" (click)="showDisplay('propertyStatus')">Property Status</button>
        <button type="button" class="btn btn-primary m-2" (click)="showDisplay('propertyType')">Property Type</button>
        <button type="button" class="btn btn-primary m-2" (click)="showDisplay('suspensionReason')">Suspension Reason</button>
        <button type="button" class="btn btn-primary m-2" (click)="showDisplay('woredasList')">Woredas List</button>
        <button type="button" class="btn btn-primary m-2" (click)="showDisplay('woredasGroup')">Woredas Group</button>
        <button type="button" class="btn btn-primary m-2" (click)="showDisplay('annualServicePlan')">Annual Service Plan</button>
        <button type="button" class="btn btn-primary m-2" (click)="showDisplay('serviceDetail')">Service Detail</button>
        <button type="button" class="btn btn-primary m-2" (click)="showDisplay('serviceFee')">Service Fee</button>
        <button type="button" class="btn btn-primary m-2" (click)="showDisplay('taskFee')">Task Fee</button>
        <button type="button" class="btn btn-primary m-2" (click)="showDisplay('country')">Country </button>
        <button type="button" class="btn btn-primary m-2" (click)="showDisplay('serviceBlockRegistration')">Service Block Registration</button>
      </div>
    </div>
  </div>
  
  <div class="col-6-lg" style="height: 100%;width: 100%; margin-top: 30px; margin-right:30px;">
      <app-customer-status *ngIf="displayFlags.customerStatus"></app-customer-status>
      <app-customer-type *ngIf="displayFlags.customerType"></app-customer-type>
      <app-title-deed-transfer *ngIf="displayFlags.titleDeedTransfer"></app-title-deed-transfer>
      <app-family-relation *ngIf="displayFlags.familyRelationshipType"></app-family-relation>
      <app-lease-owned-status *ngIf="displayFlags.leaseOwnedStatus"></app-lease-owned-status>
      <app-lease-type *ngIf="displayFlags.leaseType"></app-lease-type>
      <app-measurement-fee *ngIf="displayFlags.measurementFee"></app-measurement-fee>
      <app-property-type *ngIf="displayFlags.propertyType"></app-property-type>
      <app-plot-type-use *ngIf="displayFlags.plotTypeofUse"></app-plot-type-use>
      <app-plot-status *ngIf="displayFlags.plotStatus"></app-plot-status>
      <app-property-status *ngIf="displayFlags.propertyStatus"></app-property-status>
      <app-suspension-reason *ngIf="displayFlags.suspensionReason"></app-suspension-reason>
      <app-woreda-list *ngIf="displayFlags.woredasList"></app-woreda-list>
      <app-woreda-group *ngIf="displayFlags.woredasGroup"></app-woreda-group>
      <app-annual-service-plan *ngIf="displayFlags.annualServicePlan"></app-annual-service-plan>
      <app-service-detail *ngIf="displayFlags.serviceDetail"></app-service-detail>
      <app-service-task-fee *ngIf="displayFlags.serviceFee"></app-service-task-fee>
      <app-task-fee *ngIf="displayFlags.taskFee"></app-task-fee>
      <app-country *ngIf="displayFlags.country"></app-country>
      <app-service-block-registration *ngIf="displayFlags.serviceBlockRegistration"></app-service-block-registration>
  </div>
  </div>
 

