<div class="d-flex align-items-start">
  <div class="card" style="width: 18rem; margin: 30px; ">
    <p-toolbar [style]="{ background: 'var(--primary-color)', color: 'var(--primary-contrast-color)' }">
      <span>Lookup Tables</span>
    </p-toolbar>
    <div class="card-header">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <button type="button" class="btn btn-primary m-2" (click)="showCustomerStatus()">Customer Status</button>
    <button type="button"class="btn btn-primary m-2" (click)="showCustomerType()">Customer Type</button>
    <button type="button"class="btn btn-primary m-2" (click)="showTitleDeedTransfer()">Title Deed Transfer</button>
    <button type="button"class="btn btn-primary m-2" (click)="showFamilyRelationshipType()">Family Relationship Type</button>
    <button type="button"class="btn btn-primary m-2" (click)="showLeaseOwnedStatus()">Lease Owned Status</button>
    <button type="button"class="btn btn-primary m-2" (click)="showLeaseType()">Lease Type</button>
    <button type="button"class="btn btn-primary m-2" (click)="showMeasurementFee()">Measurement Fee</button>
    <button type="button"class="btn btn-primary m-2" (click)="showPlotTypeofUse()">Plot Type of Use</button>
    <button type="button"class="btn btn-primary m-2" (click)="showPlotStatus()">Plot Status</button>
    <button type="button"class="btn btn-primary m-2" (click)="showPropertyStatus()">Property Status</button>
    <button type="button"class="btn btn-primary m-2" (click)="showPropertyType()">Property Type</button>
    <button type="button"class="btn btn-primary m-2" (click)="showSuspensionReason()">Suspension Reason</button>
    <button type="button"class="btn btn-primary m-2" (click)="showWoredasList()">Woredas List</button>
    <button type="button"class="btn btn-primary m-2" (click)="showWoredasGroup()">Woredas Group</button>
    <button type="button"class="btn btn-primary m-2" (click)="showAnnualServicePlan()">Annual Service Plan</button>
    <button type="button"class="btn btn-primary m-2" (click)="showServiceDetail()">Service Detail</button>
    <button type="button"class="btn btn-primary m-2" (click)="showServiceFee()">Service Fee</button>
    <button type="button"class="btn btn-primary m-2" (click)="showTaskFee()">Task Fee</button>
    <button type="button"class="btn btn-primary m-2" (click)="showCountry()">Country </button>
    <button type="button"class="btn btn-primary m-2" (click)="showServiceBlockRegistration()">Service Block Registration</button>
  </div>
    </div>
    

  </div>
 
    <div class="col-6-lg">
      <app-customer-status *ngIf="displayCustomerStatus"></app-customer-status>
      <app-customer-type *ngIf="displayCustomerType"></app-customer-type>
      <app-title-deed-transfer *ngIf="displayTitleDeedTransfer"></app-title-deed-transfer>
      <app-family-relation *ngIf="displayFamilyRelationshipType"></app-family-relation>
      <app-lease-owned-status *ngIf="displayLeaseOwnedStatus"></app-lease-owned-status>
      <app-lease-type *ngIf="displayLeaseType"></app-lease-type>
      <app-measurement-fee *ngIf="displayMeasurementFee"></app-measurement-fee>
      <app-property-type *ngIf="displayPlotTypeofUse"></app-property-type>
      <app-plot-type-use *ngIf="displayPlotStatus"> </app-plot-type-use>
      <app-plot-status *ngIf="displayPropertyStatus"></app-plot-status>
      <app-property-status *ngIf="displayPropertyType"></app-property-status>
      <app-suspension-reason *ngIf="displaySuspensionReason"></app-suspension-reason>
      <app-woreda-list *ngIf="displayWoredasList"></app-woreda-list>
      <app-woreda-group *ngIf="displayWoredasGroup"></app-woreda-group>
      <app-annual-service-plan *ngIf="displayAnnualServicePlan"></app-annual-service-plan>
      <app-service-detail *ngIf="displayServiceDetail"></app-service-detail>
      <app-service-task-fee *ngIf="displayServiceFee"></app-service-task-fee>
      <app-task-fee *ngIf="displayTaskFee"></app-task-fee>
      <app-country *ngIf="displayCountry"></app-country>
      <app-service-block-registration *ngIf="displayServiceBlockRegistration"></app-service-block-registration>

  </div>
</div> 
 