<p-toast position="bottom-right" [showTransformOptions]="'translateX(100%)'"></p-toast>
<p style="background: #84b4f1;color: black;">Sub Cities Annual Service Provision Plan</p> 
<form [formGroup]="form" class="form-container">
  <div class="card">
    <div class="card-body">
      <div class="row">
<div class="col-md-6">
  <div class="form-group">
    <label for="blockedNo">Budget Year:</label>
    <input formControlName="budget_Year" type="text" class="form-control" id="blockedNo" placeholder="Budget Year:">
  </div>
</div>
      </div>
    </div>

<p-table [value]="annualplan" [paginator]="true" [rows]="5" class="custom-table">
    
    <ng-template pTemplate="header">
        <tr>
          <th >
            ID
          </th>
          <th>
            Service Name
          </th>
          <th >
            Description
          </th>
          <th >
            Budget Year
          </th>
          <th >
            Start Date
          </th>
          <th >
            End Date
          </th>
          <th >
            Annual Grand Plan
          </th>
            <th>
              <button type="button" class="btn btn-primary" (click)="openAddForm();displayBasic=true">
                <i class="pi pi-plus"></i> Add New
            </button>
           </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr [pSelectableRow]="rowData">
          <td >
            {{rowData.service_ID}}
         </td>
         <td >
           {{rowData.service_Name}}
         </td>
         <td >
           {{rowData.description}}
         </td>
         <td >
           {{rowData.budget_Year}}
         </td>
         <!-- <td >
           {{rowData.customer_Type}}
         </td> -->
         <td >
           {{rowData.start_Date}}
         </td>
         <td >
           {{rowData.end_Date}}
         </td>
         <td >
           {{rowData.grand_Plan_Per_Year}}
         </td>
            <td>
                <button type="button" class="btn btn-primary edit-button"  (click)="openEditForm(rowData);displayBasic=true">
                    <i class="pi pi-pencil"></i>
                </button>
                <button type="button" class="btn btn-danger delete-button" (click)="annualplandelete(rowData.service_ID)">
                    <i class="pi pi-trash"></i> 
                </button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="List Of Users" [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000" position="top"> 
  <form [formGroup]="form" class="my-form">
    <div class="mb-3">
      <label for="recipient-name" class="col-form-label">Service Name</label>
      <input type="text" class="form-control" placeholder="Service Name" formControlName="service_Name" id="recipient-name">
    </div>
    <div class="mb-3">
      <label for="recipient-name" class="col-form-label">Description</label>
      <input type="text" class="form-control" placeholder="Description" formControlName="description" id="recipient-name">
    </div>
    <div class="mb-3">
      <label for="recipient-name" class="col-form-label">Budget Year</label>
      <input type="text" class="form-control" placeholder="Budget Year" formControlName="budget_Year" id="recipient-name">
    </div>
     <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="startDate">Start Date</label>
              <input formControlName="start_Date" type="date" class="form-control" id="startDate">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="endDate">End Date</label>
              <input formControlName="end_Date" type="date" class="form-control" id="endDate">
            </div>
          </div>
        </div>
    <div class="mb-3">
      <label for="recipient-name" class="col-form-label">Annual Grand Plan</label>
      <input type="text" class="form-control" placeholder="Annual Grand Plan" formControlName="grand_Plan_Per_Year" id="recipient-name">
    </div>
  </form>

<p-footer>
  <button type="button"  (click)="displayBasic=false"  class="btn btn-danger">close</button>
  <button type="button"  class="btn btn-secondary" (click)="displayBasic=false; onFormSubmit();" > {{button}}</button>
</p-footer>
</p-dialog>

    