<p-toast position="bottom-right" [showTransformOptions]="'translateX(100%)'"></p-toast>
<p style="background: #84b4f1;color: black;">Technical Team Grouping with Woredas</p>

<p-table [value]="woredagroup" [paginator]="true" [rows]="5" class="custom-table">
    
    <ng-template pTemplate="header">
        <tr>
          <th >
            ID
          </th>
          <th >
            Woreda Name
          </th>
          <th>
            Group ID
          </th>
        <th >
          <button type="button" class="btn btn-primary" (click)="openAddForm();displayBasic=true">
            <i class="pi pi-plus"></i> Add New
        </button>
           </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr [pSelectableRow]="rowData">
          <td >
            {{rowData.id}}
         </td>
         <td >
           {{rowData.sdP_ID}}
         </td>
         <td >
           {{rowData.group_ID}}
         </td>
            <td>
                <button type="button" class="btn btn-primary edit-button"  (click)="openEditForm(rowData);displayBasic=true">
                    <i class="pi pi-pencil"></i>
                </button>
                <button type="button" class="btn btn-danger delete-button" (click)="taskfeedelete(rowData.id)">
                    <i class="pi pi-trash"></i> 
                </button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="List Of Users" [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000" position="top"> 
     <form [formGroup]="form">
      <div class="mb-3">
        <label for="recipient-name" class="col-form-label">sdP_ID</label>
        <input type="text" class="form-control" placeholder="sdP_ID" formControlName="sdP_ID" id="recipient-name">
      </div>
      <div class="mb-3">
        <label for="recipient-name" class="col-form-label">group_ID</label>
        <input type="text" class="form-control" placeholder="group_ID" formControlName="group_ID" id="recipient-name">
      </div>
  </form>

<p-footer>
  <button type="button"  (click)="displayBasic=false"  class="btn btn-danger">close</button>
  <button type="button"  class="btn btn-secondary" (click)="displayBasic=false; onFormSubmit();" > {{button}}</button>
</p-footer>
</p-dialog>

    





