<p-toast position="bottom-right" [showTransformOptions]="'translateX(100%)'"></p-toast>
<p style="background: #84b4f1;color: black;">Task Fee</p>
<form [formGroup]="form" class="form-container">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="mb-3">
          <label for="serviceid">Service ID</label>
          <select #serviceidselecter (change)="passdataForservice_ID(serviceidselecter.value)" formControlName="service_ID" class="form-control" id="serviceid" (change)="onServiceIDChange(serviceidselecter.value)">
            <option *ngFor="let service of service_ID" [value]="service.service_code">{{ service.description_en }}</option>
          </select>
        </div>
        </div>
      </div>

      <div *ngIf="isDropdownSelected">
      <p-table [value]="taskfee1" [paginator]="true" [rows]="5" class="custom-table">
    <ng-template pTemplate="header">
        <tr>
          <th >
            Service ID 
          </th>
          <th >
            Task ID
          </th>
          <th >
            Task Name
          </th>
          <th >
            Property use
          </th>
          <th >
            Fee
          </th>
            <th>
              <button type="button" class="btn btn-primary" (click)="openAddForm();displayBasic=true">
                <i class="pi pi-plus"></i> Add New
            </button>
           </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr [pSelectableRow]="rowData">
        <td >
            {{rowData.service_name}}
         </td>
         <td >
           {{rowData.task_ID}}
         </td>
         <td >
           {{rowData.task_Name}}
         </td>
         <td >
          {{rowData.property_name}}
           <!-- <select  class="form-control"  [(ngModel)]="rowData.property_Type"  >
            <option *ngFor="let plot of properyuselist" [value]="plot.proprty_Use">{{ plot.name }}</option>
          </select> -->
         </td>
         <td >
           {{rowData.fee}}
         </td>
            <td>
                <button type="button" class="btn btn-primary edit-button"  (click)="openEditForm(rowData);displayBasic=true">
                    <i class="pi pi-pencil"></i>
                </button>
                <button type="button" class="btn btn-danger delete-button" (click)="taskfeedelete(rowData)">
                    <i class="pi pi-trash"></i> 
                </button>
            </td>
        </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog header="List Of Users" [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000" position="top"> 
     <form [formGroup]="form">
      <div class="mb-3">
        <label for="taskid">Task ID</label>
        <select #taskName (change)="pasTask(taskName.value)" formControlName="task_ID" class="form-control" id="taskid">
          <option *ngFor="let task of taskList" [value]="task.task_code">{{ task.description_en }}</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="recipient-name" class="col-form-label">Task Name</label>
        <input type="text" class="form-control" placeholder="Task Name" formControlName="task_Name" id="recipient-name">
      </div>
      <div class="mb-3">
        <label for="recipient-name" class="col-form-label">Property use</label>
        <select #Customer (change)="pasproperty(Customer.value)" formControlName="property_Type" class="form-control" id="recipient-name">
          <option *ngFor="let plot of properyuselist" [value]="plot.proprty_Use">{{ plot.name }}</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="recipient-name" class="col-form-label">Fee</label>
        <input  onkeypress='return event.charCode >= 48 && event.charCode <= 57' type="number" class="form-control" placeholder="Fee" formControlName="fee" id="recipient-name">
      </div>
  </form>

<p-footer>
  <button type="button"  (click)="displayBasic=false"  class="btn btn-danger">close</button>
  <button type="button" class="btn btn-secondary" (click)="button === 'Update' ? update() : onFormSubmit(); displayBasic = false;">{{ button }}</button>
</p-footer>
</p-dialog>

    
