<p-toast position="bottom-right" [showTransformOptions]="'translateX(100%)'"></p-toast>
<p style="background: #84b4f1;color: black;">Task Fee</p>
<form [formGroup]="form" class="form-container">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <!-- <div class="col-md-6">
          <div class="form-group">
            <label for="serviceID">Service ID</label>
            <input formControlName="service_ID" type="text" class="form-control" id="serviceID" placeholder="Service ID">
          </div>  -->
          <div class="mb-3">
            <label for="serviceid">Service ID</label>
            <select formControlName="service_ID" class="form-control" id="serviceid">
              <option *ngFor="let service of service_ID" [value]="service.service_code">{{ service.description_local }}</option>
            </select>
          </div>
        </div>
      </div>
  <!-- </div> -->

<p-table [value]="taskfee" [paginator]="true" [rows]="5" class="custom-table">
    
    <ng-template pTemplate="header">
        <tr>
          <th >
            Service ID 
          </th>
          <th >
            Task ID
          </th>
          <th >
            Task Name
          </th>
          <th >
            Customer Type
          </th>
          <th >
            Fee
          </th>
            <th>
              <button type="button" class="btn btn-primary" (click)="openAddForm();displayBasic=true">
                <i class="pi pi-plus"></i> Add New
            </button>
           </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr [pSelectableRow]="rowData">
        <td >
            {{rowData.service_ID}}
         </td>
         <td >
           {{rowData.task_ID}}
         </td>
         <td >
           {{rowData.task_Name}}
         </td>
         <td >
           {{rowData.property_Type}}
         </td>
         <td >
           {{rowData.fee}}
         </td>
            <td>
                <button type="button" class="btn btn-primary edit-button"  (click)="openEditForm(rowData);displayBasic=true">
                    <i class="pi pi-pencil"></i>
                </button>
                <button type="button" class="btn btn-danger delete-button" (click)="taskfeedelete(rowData.id)">
                    <i class="pi pi-trash"></i> 
                </button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="List Of Users" [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000" position="top"> 
     <form [formGroup]="form">
   
      <!-- <div class="mb-3">
        <label for="serviceid">Service ID</label>
        <select  formControlName="service_ID" class="form-control" id="serviceid">
          <option  *ngFor="let serviceid of service_ID" [value]="serviceid.service_code">{{ serviceid.description_local
          }}</option>
        </select>
      </div> -->
      <div class="mb-3">
        <label for="taskid">Task ID</label>
        <select formControlName="task_ID" class="form-control" id="taskid">
          <option *ngFor="let task of task_ID" [value]="task.task_code">{{ task.description_local }}</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="recipient-name" class="col-form-label">Task Name</label>
        <input type="text" class="form-control" placeholder="Task Name" formControlName="task_Name" id="recipient-name">
      </div>
      <div class="mb-3">
        <label for="recipient-name" class="col-form-label">Customer Type</label>
        <input type="text" class="form-control" placeholder="Customer Type" formControlName="property_Type" id="recipient-name">
      </div>
      <div class="mb-3">
        <label for="recipient-name" class="col-form-label">Fee</label>
        <input  onkeypress='return event.charCode >= 48 && event.charCode <= 57' type="text" class="form-control" placeholder="Fee" formControlName="fee" id="recipient-name">
      </div>
  </form>

<p-footer>
  <button type="button"  (click)="displayBasic=false"  class="btn btn-danger">close</button>
  <button type="button"  class="btn btn-secondary" (click)="displayBasic=false; onFormSubmit();" > {{button}}</button>
</p-footer>
</p-dialog>

    
